
.container{
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

.inscriptiondiv{
  background-color: aqua;
  border-radius: 7px;
}

.inscription{
  margin: 8px 8px 8px 133px;
  cursor: pointer;
}

.instagram{
  margin-bottom: 80px;
}

#instaSpan{
  font-family: cursive;
  font-size: xx-large;
  color: cyan;
}

.form-control{
  display: inline-flex;
}
