.footer {
    display: inline-flex;
}

.partieAvecProfil {
    display: inline-flex;
    margin-left: 300px;
}

.barreDeRecherche {
    margin-left: 5px;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .footer {}
    .partieAvecProfil {}
    .barreDeRecherche {}
}


/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .footer {}
    .partieAvecProfil {}
    .barreDeRecherche {}
}


/*  Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .footer {}
    .partieAvecProfil {}
    .barreDeRecherche {}
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .footer {}
    .partieAvecProfil {}
    .barreDeRecherche {}
}