<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <div class="">
            <li class="nav-item">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">logo</a>
            </li>
        </div>

        <div>
            <li class="nav-item">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">Instagram</a>
            </li>
        </div>

        <div class="barreDeRecherche">
            <li class="nav-item">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">Barre de recherche</a>
            </li>
        </div>

        <div class="partieAvecProfil ">
            <li class="nav-item ">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">image page accueil</a>
            </li>
            <li class="nav-item ">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">Image pour envoie message</a>
            </li>
            <li class="nav-item ">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">Image pour suggestion de compte</a>
            </li>
            <li class="nav-item ">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">image pour decompte des J'aime</a>
            </li>
            <li class="nav-item ">
                <a routerLink="# " class="nav-link " routerLinkActive="active ">Image pour profil utilisateur</a>
            </li>
        </div>
    </ul>
</nav>

<div class="container ">
    <br>
    <h2 style="text-align: center; ">{{title}}</h2>
    <hr>
    <div class="card ">
        <div class="card-body ">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
<hr>

<!-- Footer -->
<div class="container " style="text-align: center; ">
    <footer class="footer ">
        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> À PROPOS </a>
        </div>
        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> AIDE </a>
        </div>

        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> PRESSE </a>
        </div>

        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> API</a>
        </div>
        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> EMPLOIS</a>
        </div>
        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> CONFIDENTIALITÉ</a>
        </div>
        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> CONDITIONS</a>
        </div>
        <div>
            <a routerLink="# " class="nav-link " routerLinkActive="active "> LIEUX</a>
        </div>
    </footer>
</div>