<!-- Toolbar -->


<div class="app">

    <div class="barreDeavigation">
        <!-- header -->
        <header>
            <app-entete-de-page></app-entete-de-page>
            <section>
                <h1>{{ title }} app is running!</h1>
            </section>
            <nav>
                <ul>
                    <li><a routerLink="#">Home</a></li>
                    <li><a routerLink="#">About</a></li>
                    <li><a routerLink="#">Contact</a></li>
                    <li><a routerLink="#">Signin</a></li>
                </ul>
            </nav>
        </header>
    </div>


    <div>
        <router-outlet></router-outlet>
    </div>
    <!-- Footer -->
    <footer>
        <app-pied-de-page></app-pied-de-page>
    </footer>
</div>