
.container{
  display: flex;
  justify-content: center;
  margin-top: 210px;
}

.seConnecterdiv{
  background-color: aqua;
  border-radius: 7px;
}

.seConnecter{
  margin: 8px 8px 8px 97px;
  cursor: pointer;
}

.nomMotPasse{
  /*margin-left: 80px;*/
}

.instagram{
  margin-bottom: 80px;
}

#instaSpan{
  font-family: cursive;
  font-size: xx-large;
  color: cyan;
}

.form-control{
  display: inline-flex;
}
